<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Loginnnnnn'</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class="container">
      <a href="/logout">Logout</a>
      {{{yield}}}
    </div>
  </body>
</html>
